@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  font-family: "Roboto Mono", monospace;
  animation-duration: 3s;
}
:root {
  --bg-primary: #191919;
  --text-primary: #646669;
  --text-secondary: #d1d0c5;
  --text-error: #ca4754;
  --cursor-primary: #e2b714;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
}

.test-container {
  font-size: 1.5rem;
  padding: 1rem;
  height: 8rem;
  overflow: hidden;
}
.correctlyProcessedWords {
  color: var(--text-secondary);
}

.wrongLetter {
  color: var(--text-error);
}

.cursor-pos {
  width: 2px;
  height: 1.5em;
  background: var(--cursor-primary);
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  animation-duration: 3s;
}

.repeat-btn {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}

.repeat-btn > img {
  padding: 2rem 4rem;
  border-radius: 4px;
  cursor: pointer;
}

.repeat-btn > img:focus {
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #636363, 0 0 40px #636363,
    0 0 50px #636363, 0 0 60px #636363, 0 0 70px #636363;
}
